body {
    margin:0;
    font-size:16px;
    font-family:Vernada,sans-serif;
    color:#333
}
header{
    background:#f59a00;
    color:#fff;
    text-align:center;
    padding-top:64px;
}
header h1,
header p{
    margin:0;
}
header img{
    width: 60%;
    vertical-align:bottom;
}
h1 {
    font-size:24px;
    padding-bottom: 8px;
    border-bottom:1px solid #ddd;

}

.btn{
    text-decoration: none;
    background: #fff;
    color:#f59a00;
    display: block;
    width:140px;
    line-height:44px;
    margin:40px auto 48px;
    font-size:14px;
    font-weight:bold;
    border-radius:4px;
}
.btn:hover {
    opacity:0.9;
}

.features img{
    width:100%;
}

.features >h1 {
    text-align: center;
    padding:64px 0;
    font-weight: normal; 
}

.features .container{
    margin: 0 32px;
}

.features p{
    line-height: 1.8;
}

.features section{
    padding-bottom: 64px;
}

.members{
    background:#f2f2f3
}

.members >h1 {
    text-align: center;
    padding:64px 0;
    font-weight: normal; 
}


.members ul{
    list-style:none;
    text-align: center;
    margin: 0;
    padding:0;
}

.members img{
    width:160px;
    border-radius: 50%;
}

.members h2{
    font-size:20px;
}

.members li{
    padding-bottom: 64px;
}

.call-to-action{
    background: #f59a00;
    color: #fff;
    text-align: center;
    padding: 64px 0;
}

.call-to-action h1{
    font-weight: normal;
}

.call-to-action .btn{
    margin: 0 auto;
}

footer{
    padding: 64px 0;
    background: #323135;
    color: #98969c;
    text-align: center;
}

@media(min-width: 900px){
    header .container{
        display :flex;
        width : 800px;
        margin : 0 auto ;
    }

    header .info{
        width:30%;
        align-self:center;
    }
    header .pic{
        width:70%; 
    }
    .features .container{
        width: 800px;
        margin:0 auto;

    }
    .features section{
        display: flex;
        justify-content: space-between;
    }

    .features section:nth-child(even){
        flex-direction: row-reverse;
    }
    .features .pic{
        width: 50%;
    }
    .features .info{
        width: calc(50% - 32px);
    }
    .members ul{
        width: 800px;
        margin:0 auto ;
        display: flex;
        justify-content: space-between;
    }
    .members li{
        width:800px;

    }

}

.karusec{
    width:80%;
    margin: 16px auto;
}
.karuseru {
    width:100%;
    height: 400px;
    /* outline: 8px solid red; */
    overflow: hidden;
    position: relative;
}

.karuseru ul{
    list-style:none ;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    transition: transform .3s;
}
.karuseru li{
    height: 100%;
    min-width: 100%;
}


.karuseru li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#prev,#next{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    border:none;
    background: rgba(0, 0, 0, .8);
    color: #fff;
    font-size: 24px;
    padding: 0 8px 4px;
    cursor: pointer;

}
#prev:hover,#next:hover{
    opacity: .8;
}
#prev{
    left: 0;
}
#next{
    right: 0;
}
.hidden{
    display: none;
}
nav{
    margin-top: 16px;
    text-align: center;
}
nav button + button{
    margin-left: 8px;
}

nav button{
    border:none;
    width: 16px;
    height: 16px;
    background: #ddd;
    border-radius: 50%;
    cursor:pointer;
}
nav .current{
    background:#999;
}
